body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

section {
    padding: 1em 0;
}

.new-message-form > img {
    float: left;
    width: 80px;
}

.new-message-form > :not(img) {
    margin-left: 90px;
}


.messages {
    padding-left: 0;
}

.messages li {
    list-style: none;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 0.5em;
}

.messages > li > img {
    float: left;
    width: 40px;
}

.messages > li > :not(img) {
    margin-left: 50px;
    margin-bottom: 0;
}