
body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

<<<<<<< HEAD
.completed-task {
    color: #AAA;
    text-decoration: line-through;
}

ul li {
    cursor: pointer;
=======
.back-to-list {
    margin-top: 1.5em;
>>>>>>> 0e1f3c03a332ce37c172bdee43ad742a11ba4994
}

