<p class="pull-right">
    <a class="btn btn-default">+</a>
</p>
<h1>Contacts</h1>

<p>
    <input type="search" class="form-control" ng-model="query"
            placeholder="type to search" autofocus/>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts | filter : query | orderBy : ['lname', 'fname']">
            <td>{{contact.fname}} <strong>{{contact.lname}}</strong></td>
            <td><a ng-href="tel:{{contact.phone}}">{{contact.phone}}</a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">{{contacts.length}} {{1 === contacts.length ? 'contact' : 'contacts'}}</td>
        </tr>
    </tfoot>
</table>
