<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Movies 2014</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" href="img/angular.ico">

        <!-- angular script file -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

        <!-- lodash script file -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

        <!-- our script file -->
        <script src="js/movies.js"></script>

    </head>
    <body class="container" ng-app="Movies" ng-controller="MoviesController">
        <h1>Movies from 2014</h1>

        <p>
            <input type="search" class="form-control"
                   placeholder="type to filter" ng-model="query"/>
        </p>

        <p>
            <select ng-model='currentDistributor' ng-options="d as d for d in distributors">
            </select>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th><a ng-click="setSort('title')" href = "#">Title</a></th>
                    <th><a ng-click="setSort('rating')" href = "#">Rating</a></th>
                    <th><a ng-click="setSort('gross')" href = "#">Gross Sales</a></th>
                    <th><a ng-click="setSort('released')" href = "#">Released</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movie in movies | filter : query | filter : {distributor: currentDistributor} | orderBy : sortCol : sortReverse">
                    <td>{{movie.title}}</td>
                    <td>{{movie.rating}}</td>
                    <td>{{movie.gross | currency}}</td>
                    <td>{{movie.released | date : 'MMM dd yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>