@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

#error-message {
    display: none;
}

