body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

label {
    font-weight: 400;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #EEE;
    font-size: 0.8em;
}

<<<<<<< HEAD
tfoot {
    font-size: 0.8em;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

=======
tfoot td {
    font-size: 0.8em;    
}
>>>>>>> c86ea5e07396a6f176cb977fd1425aef832f8dae
